extends layout

block content
  .jumbotron
    h1= title
  form(action='/convert' method='post' enctype='multipart/form-data')
    .panel.panel-primary
      .panel-heading
        h2.panel-title Selecione o arquivo
      .panel-body
        input#json.file(type='file' name='json' data-show-preview='false' data-show-upload='false' data-language='pt-BR' data-allowed-file-extensions='["json"]' required)
      .panel-footer.text-right
        button.btn.btn-primary(type='submit') Salvar CSV
        
