doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width,initial-scale=1,user-scalable=no')
    title= title
    link(rel='shortcut icon' href='favicon.ico' type='image/x-icon')
    link(rel='icon' href='favicon.ico' type='image/x-icon')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/vendor/bootstrap-fileinput/css/fileinput.min.css')
    script(type='text/javascript' src='/vendor/jquery/dist/jquery.min.js')
    script(type='text/javascript' src='/vendor/bootstrap/dist/js/bootstrap.min.js')
    script(type='text/javascript' src='/vendor/bootstrap-fileinput/js/fileinput.min.js')
  body
    .container
        block content
  footer
    .container
      p.text-center
        small v-1.0.0-gala 
